    body {
        background: #ddd;
    }
    body, textarea {
        font-size: 16px;
    }
    a {
        text-decoration: none;
    }
    #app {
        max-width: 1024px;
        margin: 0 auto;
    }
    #log {
        background: #eee;
        width: 100%;
        height: 400px;
        resize: none;
    }
